.card {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
  cursor: pointer;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.card__like-button {
  background-image: url(../images/Like.svg);
  height: 20px;
  width: 23px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  opacity: 40%;
  cursor: pointer;
}

.card__delete-button {
  background-image: url(../images/lightdelete.svg);
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.card__delete-button:hover {
background-image: url(../images/hoverdelete.svg);
opacity: 1;
}

.card__like-button_active:hover {
 opacity: 1;
}

.card__like-button_active {
  background-image: url(../images/Activeheart.svg);
  opacity: 1;
}

.card__title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  font-family: Poppins, sans-serif;
  line-height: 120%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__title {
    font-size: 16px;
  }
}
