.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-family: poppins, sans-serif;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s, ease-in;
}

.modal_type_preview {
 padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-btn{
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-image: url(../images/WhiteX.svg);
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  color: #212121b2;
  font-size: 16px;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  max-width: 730px;
  width: 95%;
  padding: 16px;
  border: 1px solid #2121214d;
  border-radius: 8px;
}

.modal__input::placeholder {
  color: #2121214d;
  font-size: 20px;
}

.modal__submit-btn {
  color: #fcf5e5;
  max-width: 156px;
  padding: 18px 58px;
  border-radius: 8px;
  width: 100%;
  background-color: #212121;
  font-size: 16px;
}

.modal__submit-btn:hover {
  opacity: 0.4;
  cursor: pointer;
}

.modal__close_type_preview {
  top: 0;
  right: -52.5px;
  background-image: url(../images/WhiteX.svg);
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: none;
  position: absolute;
  cursor: pointer;
}

.modal__close_type_preview:hover {
  background-image: url(../images/Closeicon.svg);
}

.modal__close-btn:hover {
  opacity: 40%;
  cursor: pointer;
}

.modal__image-container  { 
  position: relative;
} 

.modal__image {
   max-width: 80vw;
   max-height: 80vh;
   width: 100%;
   object-fit: contain;
   display: block;
   border-radius: 8px;
}

.modal__caption {
  color: white;
  background-color: black;
  width: fit-content;
  border-radius: 8px;
  padding: 4px 8px 4px 8px;
  font-size: 20px;
  margin: 8px 0 0 0;
}

@media screen and (max-width: 627px) {
  .modal__close_type_preview {
  top: -48px;
  right: 0;
 } 
  .modal__image {
  max-width: unset;
}
}

@media screen and (max-width: 320px) {
  .modal__title {
    font-size: 18px;
    margin-bottom: 24px;
  }

  .modal__label {
    font-size: 16px;
  }

  .modal__caption {
    font-size: 16px;
  }

  .modal__input::placeholder {
    font-size: 16px;
  }

  .modal__submit-btn {
    padding: 12px 16px;
    width: 100%;
  }

  .modal__container {
    width: 288px;
    height: 288px;
  }

  .modal__form {
    margin-top: 34px;  
}

.modal__close-btn {
    top: 12px;
    right: 12px;
  }
}